[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gambhir/Desktop/Downloads]
row=4
col=0

[/home/gambhir/Desktop/hyperland-dotfiles]
row=2
col=0

[/home/gambhir/Desktop/JetBrainsMono.zip]
row=3
col=0

[/home/gambhir/Desktop/personal_dots]
row=5
col=0

[/]
row=0
col=0

[/home/gambhir]
row=1
col=0

